@import "@fontsource/raleway/500.css";

.card {
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 14px;
  transition: 0.3s ease;
  position: relative;


  &:hover {
    transition: 0.3s ease;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 30px;
      bottom: 70px;
      width: 50px;
      height: 50px;
      background: #5ECE7B url("../../assets/images/white-cart.svg") center no-repeat;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .wrapper {
    margin: 15px 15px 20px 15px;
    img {
      width: 354px;
      height: 330px;
      margin-bottom: 24px;
    }
    span {
      display: block;
      margin-bottom: 5px;

      &:last-child {
        font-weight: 500;
      }
    }
  }
}