@import "@fontsource/raleway/700.css";

.header {
  padding: 30px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
      li {
        margin-right: 30px;
        &:last-child {
          margin: 0;
        }
        a {
          color: #1D1F22;
          text-decoration: none;
          transition: 0.5s ease;

          &:hover {
            color: #5ECE7B;
            padding-bottom: 30px;
            border-bottom: 2px solid  #5ECE7B;
            transition: 0.5s ease;
          }
        }
      }
  }

  .options {
    display: flex;
    align-items: center;
    font-size: 18px;

    p {
      width: 20px;
    }

    img:first-child {
      margin-right: 10px;
    }
    img:nth-child(2) {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}